<div class="hero">
  <div class="hero-overlay"></div>
    <div class="hero-text">
    <h1>CE Site Services<h1>
    <h2>Something something, something something</h2>
    <div class="actions">
      <button class="btn">Contact</button>
      <button class="btn">About Us</button>
    </div>
  </div>
</div>
