<div class="hero">
  <div class="hero-overlay"></div>
    <div class="hero-text">
    <h1>CE Site Services<h1>
    <h2>Something something, something something</h2>
    <div class="actions">
      <a class="btn" href="#contact">Contact</a>
      <a class="btn" href="#about">About Us</a>
    </div>
  </div>
</div>
