<nav class="ce-nav">
  <div class="row">
    <div class="content-container">
      <div class="col s12">
        <a href="#" class="brand-logo">Logo</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li class="nav-item"><a href="#services">Services</a></li>
          <li class="nav-item"><a href="#contact">Contact</a></li>
          <li class="nav-item"><a href="#about">About</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
