<!-- START top nav -->
<div class="navbar-fixed">
  <nav class="ce-nav">
    <div class="row">
      <div class="content-container">
        <div class="col s12">
          <a href="#" class="brand-logo">Logo</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li class="nav-item"><a href="#services">Services</a></li>
            <li class="nav-item"><a href="#contact">Contact</a></li>
            <li class="nav-item"><a href="#about">About</a></li>
          </ul>
          <a href="#" data-activates="slide-out-menu" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
      </div>
    </div>
  </nav>
</div>
<!-- END top nav -->

<!-- START side nav -->
<ul id="slide-out-menu" class="side-nav ce-side-nav">
  <li class="side-nav-header">
    <span class="side-nav-brand">
      CE Site Services
    </span>
    <span class="side-nav-quick-contact">
      <a href="tel:15551111234">555-123-1234</a>
    </span>
  </li>
  <li>
    <a href="#">
      <i class="material-icons">wifi</i>
      Services
    </a>
  </li>
  <li>
    <a href="#">
      <i class="material-icons">local_phone</i>
      Contact
    </a>
  </li>
  <li>
    <a href="#">
      <i class="material-icons">info</i>
      About
    </a>
  </li>
</ul>
<!-- END side nav -->
