<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>CE Site Services</title>
  <meta name="descritpion" content=""></meta>
  <meta name="author" content="Griffin Mahoney">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700" rel="stylesheet">
</head>
<body>

  {{> components/topnav }}

  <div class="hero">
    <div class="hero-overlay"></div>
    <div class="hero-text">
      <h1>CE Site Services<h1>
      <h2>Something something, something something</h2>
      <div class="actions">
        <button class="btn">Contact</button>
        <button class="btn">About Us</button>
      </div>
    </div>
  </div>

  <div class="row">
    <h1 class="center-align">
      Services
    </h1>

    <div class="col s12 m4">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Service 1</span>
          <p>
            Cornhole salvia fingerstache, cold-pressed pork belly PBR&B butcher
            cred semiotics gastropub small batch vexillologist shaman. Pinterest
            swag tilde, VHS fingerstache
          </p>
        </div>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Service 2</span>
          <p>
            Cornhole salvia fingerstache, cold-pressed pork belly PBR&B butcher
            cred semiotics gastropub small batch vexillologist shaman. Pinterest
            swag tilde, VHS fingerstache
          </p>
        </div>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Service 3</span>
          <p>
            Cornhole salvia fingerstache, cold-pressed pork belly PBR&B butcher
            cred semiotics gastropub small batch vexillologist shaman. Pinterest
            swag tilde, VHS fingerstache
          </p>
        </div>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col s12 m4">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Service 3</span>
          <p>
            Cornhole salvia fingerstache, cold-pressed pork belly PBR&B butcher
            cred semiotics gastropub small batch vexillologist shaman. Pinterest
            swag tilde, VHS fingerstache
          </p>
        </div>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Service 4</span>
          <p>
            Cornhole salvia fingerstache, cold-pressed pork belly PBR&B butcher
            cred semiotics gastropub small batch vexillologist shaman. Pinterest
            swag tilde, VHS fingerstache
          </p>
        </div>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Service 5</span>
          <p>
            Cornhole salvia fingerstache, cold-pressed pork belly PBR&B butcher
            cred semiotics gastropub small batch vexillologist shaman. Pinterest
            swag tilde, VHS fingerstache
          </p>
        </div>
      </div>
    </div>

  </div>


</body>
<html>
