<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>CE Site Services</title>

  <meta name="descritpion" content=""></meta>
  <meta name="author" content="Griffin Mahoney">
</head>
<body>
  Hey

  {{> components/test}}

  and hello11

  <script type="text/javascript" src="assets/app.js"></script>
</body>
<html>
